{
  "extends": [ "airbnb" ],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "jsx-a11y/href-no-hash": "off",
    "function-paren-newline": "off"
  }
}
