{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "plugins": ["flowtype", "react", "import"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "jsx-a11y/href-no-hash": "off",
    "function-paren-newline": "off"
  }
}
