# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# local vscode config
.vscode

# npm
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
pnpm-lock.yaml
yarn.lock

# test files
/coverage

# build and temp folders
/lib
/react-children-utilities.*
_site
.jekyll-cache
