# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# npm
node_modules
npm-debug.log
yarn-error.log

# test files
coverage

# build and temp folders
!dist

.babelrc
