.content {
  padding-right: 40px;
  flex: 1 1 auto;
  overflow: hidden;

  @media (max-width: 1024px) {
    padding-right: 20px;
  }

  @media (max-width: 600px) {
    flex: none;
    padding: 0;
  }
}

.content-wrapper {
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.content-aside {
  flex: 0 0 250px;

  @media (max-width: 1024px) {
    flex: 0 0 180px;
  }

  @media (max-width: 600px) {
    flex: none;
  }
}

.content-aside-wrapper {
  position: fixed;
  height: calc(100vh - 60px);
  background-color: #f7f7f7;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 999px;

  @media (max-width: 1024px) {
    padding-top: 20px;
    padding-left: 20px;
  }

  @media (max-width: 600px) {
    position: static;
    height: auto;
    padding: 20px 0;
  }
}

.content-table {
  &-link {
    color: #1a1a1a;
    cursor: pointer;
    display: block;
    padding: 4px 0;

    &:hover {
      color: #6d6d6d;
    }
  }

  &-title {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 16px;
  }

  &-items {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 600;

    & & {
      padding-left: 20px;
      font-weight: 400;

      .content-table-link {
        padding: 2px 0;
      }
    }
  }
}
