name: Dependabot
on: pull_request_target
permissions:
  contents: write
  pull-requests: write

jobs:
  auto-review:
    name: Auto review
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Auto Review
        uses: fernandopasik/actions/auto-review@main
